body {
    font-family: 'Merriweather', serif;
}

.homepage_body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
}

.homepage_body header{
    grid-row: 1/span 1;
    grid-column: 1/-1;
}

header h1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    background-color: black;
    color: white;
}

#nav_bar {
    background: black url(../images/twom_gallery2.jpeg) center;
}

#nav_bar a {
    padding: 0 1vw 0 1vw;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    text-decoration: none;
    color: rgb(160, 160, 160);
    line-height: 1.5;
}

#nav_bar a:hover {
    color: rgb(200, 200, 200);
}

#nav_bar a:focus{
    outline: none;
    background: linear-gradient(90deg, rgba(128,128,128,0.3) 0%,rgba(128,128,128,0.3) 100%);
    text-decoration: none;
    color: white;
}

#nav_bar a.active-page{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

@keyframes slidein{
    from { transform: translate(0, 15px); opacity: 0;}
    to {transform: translate(0,0px); opacity: 1;}
}

@media (prefers-reduced-motion) {
    .skip{
      animation: none;
    }
  }

.skip{
    animation: slidein 1s ease-in-out;
    display: block;
    width: fit-content;
    margin: .2em auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: .2em;
    text-decoration: none;
    color: black;
}

.skip:hover{
    background-color: black;
    color: white;
}

.skip:focus{
    background-color: gray;
    border: 2px solid gray;
}

main h2{
    padding: .3em;
    margin: 0 auto;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

main h2 a{
    text-decoration: none;
    color: white;
}

main h3{
    padding: .3em;
    margin: .5em 1em;
    color: white;
    background-color: black;
    text-align: center;
    font-size: large;
}

main p{
    margin: 1em 2em;
    text-align: justify;
    line-height: 1.2em;
}

main img{
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    filter: grayscale(1);
    transition: filter 0.5s ease;
}

main img:hover{
    filter: grayscale(0);
    transition: filter 0.5s ease;
}

#homepage_content{
    grid-row: 3/span 1;
    grid-column: 1/-1;
}

#gallery_content{
    /* background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(80, 80, 80) 0%, rgba(0,0,0,0) 50%,rgb(80, 80, 80) 100%); */
    background: rgba(90, 134, 139, 0.5) url('../images/background1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

#gallery_content figure{
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#gallery_content img{
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(0);
    transition: transform .5s ease;
}

#gallery_content img:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}

#gallery_content p{
    font-family: 'Rock Salt', cursive;
    line-height: 3;
    font-weight: bold;
    text-align: center;
}

#homepage_aside_left{
    grid-row: 2/span 1;
    grid-column: 1/-1;
}

#homepage_aside_right{
    grid-row: 4/span 1;
    grid-column: 1/-1;
}

aside img{
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    padding: 2vh;
    grid-row: -2/span 1;
    grid-column: 1/-1;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
}
